body {
    background-color: #FCC8D1;
    color: #ffffff;
}

.nav {
    background-color:#FFABAB;
    overflow: hidden;   
}

hr {
    border-top: 2px solid #FFABAB;
}
.nav a{
    text-align: center;
    float: left;
    color: #D14D72;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

img {
    max-width: 150px;
}

table {
    border: 3px solid #FFABAB;
    border-radius: 10px;
}

h1 {
    color: #D14D72;
}